/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #eeeeee;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: black;
    margin-right: 20px;
}

.volume {
    color: #4b6db2;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.subtext {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.tab-button.active, .tab-button:hover {
    background-color: #bbb;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

a {
    font-size: 14px;
    color: #4b6db2;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
}

.price, .gain, .loss {
    font-weight: bold;
}

.gain {
    color: green;
}

.loss {
    color: red;
}